<nav id="main_nav" class="navbar navbar-fixed-top navbar-inverse">
    <div class="container">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>

                <span class="icon-bar"></span>
            </button>
            <a id="home_logo"><img alt="home" src="{{ asset('img/gladisk_logo_img.png') }}"</a>
            <a class="navbar-brand" href="/">
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class='active'><a href="{{ url('posts') }}">News</a></li>
                <li><a href="{{ url('mangas') }}">Bandes déssinées</a></li>
                <li><a href="{{ url('chapters') }}">Chapitres</a></li>
                <li><a href="{{ url('contact') }}">Contact</a></li>
            </ul>
        </div><!-- /.nav-collapse -->

    </div><!-- /.container -->
</nav>